# Set default behavior to automatically normalize line endings.
* text=auto

# declare text files to always be normalized and converted to native line endings
*.c text
*.h text
*.cpp text
*.hpp text
*.cs text
*.java text
*.js text
*.ts text
*.html text
*.css text
*.json text
*.xml text
*.md text

# Declare files that will always have CRLF line endings
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare files that will always have LF line endings
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.vsconfig text eol=lf
