# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.c text
*.h text
*.cpp text
*.hpp text
*.cs text
*.java text
*.js text
*.ts text
*.html text
*.css text
*.json text
*.xml text
*.md text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
